
server {
    listen 80 default_server;
    server_name {{ servername }};
    return 301 https://$server_name$request_uri;
}

server {
	listen 443 ssl;
	server_name {{ servername }};
    root /var/www/html/{{ domain }};
	ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
	ssl_certificate /etc/nginx/certs/{{ domain }}/{{ domain }}_bundle.crt;
	ssl_certificate_key /etc/nginx/certs/{{ domain }}/{{ domain }}.key;
	error_log /var/log/nginx/wordpress_error.log;
	access_log /var/log/nginx/wordpress_access.log;
    	location / {
        	index  index.php index.html index.htm;
    	}
    	location ~ \.php$ {
        	include fastcgi_params;
    		fastcgi_keep_conn on;
			{% if ansible_distribution == "Ubuntu" %}
        		fastcgi_pass   {{ ubuntu_php_fpm }};
			{% elif ansible_distribution == "Debian" %}
				fastcgi_pass   {{ debian_php_fpm }};
			{% elif ansible_distribution == "CentOS" %}
				fastcgi_pass   {{ centos_php_fpm }};
			{% endif %}
        	fastcgi_index  index.php;
			fastcgi_buffers 8 16k;
			fastcgi_buffer_size 32k;
        	fastcgi_param  SCRIPT_FILENAME  $realpath_root$fastcgi_script_name;
    }
}