[Unit]
Description=Zabbix Server Service
After=syslog.target
Documentation=https://www.zabbix.com/documentation/current/

[Service]
Type=oneshot
Environment="CONFFILE=/usr/local/etc/zabbix_server.conf"
ExecStart=/usr/local/sbin/zabbix_server  -c $CONFFILE
RemainAfterExit=yes
User=zabbix
Group=zabbix

[Install]
WantedBy=multi-user.target