[Unit]
Description=Zabbix Server Service
After=syslog.target
After=network.target
Documentation=https://www.zabbix.com/documentation/current/

[Service]
Type=oneshot
Environment="CONFFILE=/etc/zabbix/zabbix_server.conf"
ExecStart=/usr/sbin/zabbix_server  -c $CONFFILE
PIDFile=/run/zabbix_server.pid
RemainAfterExit=yes
User=zabbix
Group=zabbix

[Install]
WantedBy=multi-user.target