[Unit]
Description=Zabbix Agent Service
After=syslog.target
After=network.target
Documentation=https://www.zabbix.com/documentation/current/manual/concepts/agent

[Service]
Type=oneshot
Environment="CONFFILE=/etc/zabbix/zabbix_agentd.conf"
ExecStart=/usr/sbin/zabbix_agentd -c $CONFFILE
PIDFile=/run/zabbix_agentd.pid
RemainAfterExit=yes
User=zabbix
Group=zabbix

[Install]
WantedBy=multi-user.target
