[Unit]
Description=Zabbix Agent Service
After=syslog.target
Documentation=https://www.zabbix.com/documentation/current/manual/concepts/agent

[Service]
Type=oneshot
Environment="CONFFILE=/usr/local/etc/zabbix_agentd.conf"
ExecStart=/usr/local/sbin/zabbix_agentd -c $CONFFILE
RemainAfterExit=yes
User=zabbix
Group=zabbix

[Install]
WantedBy=multi-user.target
